body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  direction: rtl;
  padding-top: 50px;
}

.container {
  background-color: #fff;
  padding: 30px;
  margin: auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
  padding: 10px;
  margin-top: 10px;
  width: 80%;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #2980b9;
}

#message {
  margin-top: 20px;
  font-weight: bold;
}